<fieldset>
	<div class="field">
		<%= f.grouped_collection_select :unit_id, Measure.order(:name), :units, :name, :id, :name, {include_blank: true}, {class: 'measure_unit_id'} %>
	</div>
	<div class="field">
		<%= f.collection_select :measure_id, Measure.all, :id, :name, {include_blank: true}, {class: 'measure_id'}%>
	</div>
	<div class="field">
		<%= f.label :ingredient_token, "Ingredient" %>
 	 	<%= f.text_field :ingredient_token, class: "inputtoken", data: {load:@recipe.ingredients} %>
	</div>
		<%= f.hidden_field :_destroy %>
  	<%= link_to "remove", '#', class: "remove_fields" %>
</fieldset>