<div class="row">
  <div class="large-7 large-off-set-1 small-10 small-offset-1 columns">
		<fieldset>
			<div class="row">
				<div class="large-12 small-12 columns">
					<div class="ingredient-label">
						Select amount:
					</div>
				</div>
			</div>
			<div class="row">
				<div class="large-3 large-offset-3 columns">
					<div class="row">
							<%= f.grouped_collection_select :unit_id, Measure.order(:name), :units, :name, :id, :name, {include_blank: true}, {class: 'measure_unit_id'} %>
					</div>
					<div class="row">
							<%= f.collection_select :measure_id, Measure.all, :id, :name, {include_blank: true}, {class: 'measure_id'}%>
					</div>
				</div>
				<div class="large-4 large-offset-1 columns">
					<div class="row">
						<div class="large-12 columns">
							<%= f.label :ingredient_token, "Ingredient:", class: "ingredient-label2"%>
						 	<%= f.text_field :ingredient_token, class: "inputtoken", data: {load:ingredient_order} %>
						</div>
					</div>
				</div>
			</div>
					<%= f.hidden_field :_destroy %>
			<div class="row">
				<div class="large-2 small-4 columns">
		  		<div><%= link_to "remove", '#', class: "remove_fields" %></div>
		  	</div>
		  </div>
		</fieldset>
	</div>
</div>