<%= provide :title, "Recipe Changer" %>
<div class="row">
  <div class="large-7 large-offset-1 small-10 small-offset-1 columns">
    <div class="non-semantic-protector">
      <div class="ribbon">
        <span class="ribbon-content">Change <%= @recipe.name %></span>
      </div>
    </div>
  </div>
</div>
  <%= form_for @recipe do |f| %>
  <%= render 'shared/error_messages', object: @recipe %>
<div class="row">
  <div class="large-7 large-offset-1 small-10 small-offset-1 columns">
  <%= f.label :name %>
  <%= f.text_field :name %>
  </div>
</div>
  <%= render 'fields', f: f, object: @recipe %>
  <%= f.hidden_field :mastercake_id, value: @recipe.mastercakes[0].id %>
  <%= f.submit "Update Recipe", class: "medium button" %>
  <% end %>


