<% provide :title, 'Edit profile' %>
<h1>Update your profile</h1>
	<%= form_for @user do |f| %>
<div class="form">
		<div class="row">
			<div class="large-6 large-offset-3 columns">
				<%= render 'fields', f: f %>
				<%= f.submit "Save changes", class: "button round" %>
	<% end %>
	<br>
				<%= gravatar_for @user %>
		    <%= link_to "change", "http://gravatar.com/emails",  :target => "_blank" %>
    			</div>
		</div>
</div>
