<% provide :title, @user.name %>
<div class="bgaquapaper">
	<div class="row">
		<div class="large-5 large-offset-1 columns">
			<h1>
				<%= gravatar_for @user %>
			  <%= @user.screen_name %>
			</h1>
			<h3> Name: <%= @user.name %> </h3>
			<% if @user == current_user %>
				<%= link_to "Add Cupcake Recipe", new_mastercake_path%> | <%= link_to "Find a Cupcake Shop", map_path %>
			<% end %>
		</div>
		<div class="large-6 columns">
			<% if @user.mastercakes.any? %>
			<h3><%= pluralize @user.mastercakes.count, "Cupcake" %></h3>
				<%= will_paginate @mastercakes%>
				<%= render @mastercakes %>
			<% end %>
		</div>
	</div>
</div>
