<% provide :title, @user.name %>
<div class="row main">
	<div class="large-5 columns">
		<h1>
			<%= gravatar_for @user %>
		  <%= @user.screen_name %>
		</h1>
		<h2> Name: <%= @user.name %> </h2>
	</div>
	<div class="large-6 offset-6 columns">
		<% if @user.recipes.any? %>
		<h3>Recipes (<%= @user.recipes.count %>)</h3>
		<ol class="recipes">

			<%= render @recipes %>
		</ol>
			<%= will_paginate @recipes %>
		<% end %>
	</div>
</div>
