<% provide :title, @user.name %>
<div class="row main">
	<div class="large-5 columns">
		<h1>
			<%= gravatar_for @user %>
		  <%= @user.screen_name %>
		</h1>
		<h2> Name: <%= @user.name %> </h2>
	</div>
	<div class="large-6 offset-6 columns">
		<% if @user.mastercakes.any? %>
		<h3><%= pluralize @user.mastercakes.count, "Recipe" %></h3>
			<%= render @mastercakes %>
			<%= will_paginate @mastercakes%>
		<% end %>
	</div>
</div>
