<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<%= stylesheet_link_tag    "google_maps" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
<%= javascript_include_tag ENV["GOOGLE_MAPS"] %>
</head>
<body data-no-turbolink>
<%= yield %>
</body>
</html>