<div class="mastercakes">
    <% if object.image? %>
      <%= link_to (image_tag object.image.url(:thumb).to_s, :alt => object.name, 
                                        :title => object.description), object  %>
    <% else %>
      <%= link_to (image_tag image_url("placeholderimage.png"), :alt => "photo placeholder", :title => "Wanted Cupcake Photo"), object  %>
    <% end %>
  <div class="mastercake-name">
    <%= link_to object.name, object %>
  </div>
  <div class= "rating-bar">
    <%= render_stars(object.average_rating) %>
  </div>
  <div class="rating-number">
    <small><%= pluralize object.ratings.size, 'rating' %>  </small>
  
  <% if current_user && current_user.admin? || current_user == object.user %>
     <%= link_to 'edit', edit_mastercake_path(object) %> | <%= link_to 'remove', object, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  </div>
</div><!-- /end #mastercakes -->