<div class="mastercakes">
  <div class="mastercake" >
    <% if object.image? %>
      <%= link_to (image_tag object.image_url.to_s, :alt => object.name, 
                                        :title => object.description), object  %>
    <% else %>
      <%= link_to (image_tag image_url("placeholderimage.png"), :alt => "photo placeholder", :title => "Wanted Cupcake Photo"), object  %>
    <% end %>
  </div><!-- /end .mastercake -->
  <div class="mastercake-name">
    <%= link_to object.name, object %>
  </div>
  <div class= "rating-bar">
    <%= render_stars(object.average_rating) %>

  </div>
  <div class="rating-number">
    <small><%= pluralize object.ratings.size, 'rating' %></small>
  </div>
  <% if current_user && current_user.admin? %>
    <%= link_to 'Remove', object, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</div><!-- /end #mastercakes -->