<%= form_for @mastercake do |f| %>
  <% if @mastercake.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mastercake.errors.count, "error") %> prohibited this mastercake from being saved:</h2>

      <ul>
      <% @mastercake.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= render 'fields', f: f %>
    <div class="row">
      <div class="large-6 small-10 columns">    
      <%= f.label :image, "Photo of Cupcake" %>
      <%= f.file_field :image %>
      </div>
    </div>
    <hr>
    <%#= f.hidden_field :key %>
    <%#= @mastercake.image_name %>
    
    <%= f.submit "Ready for Step 2", class: "medium round button"%>
<% end %>
