<div>
  <div class="row">
    <div class="large-8 columns recipe-name">
      <div class="non-semantic-protector">
        <div class="ribbon">
          <span class="ribbon-content"><%= object.cupcake_part %>: <%= object.name %></span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-8 columns recipe-format">
      <div class="row">
        <div class="large-6 columns">
          <h3>Ingredients:</h3>
            <ul class = "recipe">
              <% object.proportions.each do |item| %>
                <span class="ingredient">
                <li>
                  <span class="amount">
                	<% if item.unit %>
                  	<%= item.unit.name %>
                  <% end %>
                  <% if item.measure.name ==  "none (1 egg)" %>
                  <% else %>
                  <%= item.measure.name %>
                  <% end %>
                  </span>
                  <span class="name"><%= item.ingredient.name %></span>
                </li>
                </span>
              <% end %>
            </ul>
            <% if current_user == object.user %>
              <%= link_to 'Edit', edit_recipe_path(object) %>
            <% end %>
          </div>
          <div class="large-6 columns">
            <h3> Instructions: </h3>
            <ul class="bake-instructions">
              <% object.instructions.each do |instruction| %>
                <% if instruction.baketime %>
                <li>Bake for <span class="cooktime"><b><%= instruction.baketime %></b> minutes
                <span class="value-title" title=<%= "PT#{instruction.baketime}M"%>></span></span></li>
                <% end %>
                <% if instruction.baketemp %>
                <li>Oven Temperature: <%= instruction.baketemp%> °F</li>
                <% end %>
                <br>
                <li><span class="instructions"><%= markdown(instruction.content) %></span></li>
              <% end %>
              </ul>

            </div>
          </div>
      </div>

  </div>
</div>
